/*
 * Classroom Styles
 */
.classroom {
  width: 100vw;
  position: relative;
  top: 60px;
  vertical-align: top;
  display: flex;
  overflow: hidden;
}

  .classroom .left-panel {
    overflow-y: scroll;
    width: 70vw;
    height: 90vh;
    border-right: 1px solid #D8D8D8;
    padding: 0 5%;
    height: 95vh;
  }
    .classroom .left-panel .label {
      margin-top: 50px;
      width: 45px;
      height: 400px;
      float: left;
      display: inline-block;
      padding: 0;
    }

    .classroom .left-panel .graph {
      position: relative;
      padding: 0 3%;
      margin-top: 50px;
      width: 90%;
      height: 400px;
      border-left: 2px solid #D8D8D8;
      border-bottom: 2px solid #D8D8D8;
      display: inline-block;
    }

    .classroom .left-panel .graph-bar {
      position: absolute;
      bottom: 0;
      background: #61BBE3;
      vertical-align: bottom;
      text-align: center;
      width: 100px;
    }

    .classroom .left-panel .graph-bar h4 {
      position: relative;
      top: -30px;
      color: #000000;
    }

    .classroom .left-panel .x-axis {
      padding: 0 3%;
      overflow: hidden;
      position: relative;
      margin-left: 38px;
    }

    .classroom .left-panel .x-axis .month {
      text-align: center;
      width: 8vw;
      float: left;
      height: 10vh;
    }

    .classroom .left-panel .month h4 {
      font-size: 16px;
    }

  /* Right panel */
  .classroom .right-panel {
    overflow-y: scroll;
    width: 30vw;
    height: 90vh;
    position: relative;
    top: 30px;
    padding: 0 3vw;
  }

    .classroom .right-panel .chart {
      padding: 5%;
      position: relative;
      top: 30px;
      overflow-y: scroll;
    }

    .classroom .right-panel .chart-header {
      display: flex;
      padding: 0 5vw;
    }

    .classroom .right-panel .chart-header-names {
      padding-left: 3%;
    }

    .classroom .right-panel .chart-table {
      margin-top: 10px;
    }

    .classroom .right-panel .chart-table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3%;
      height: 60px;
      border: 2px solid transparent;
    }

    .classroom .right-panel .chart-table-row-completed {
      color: #7ED321;
      border-color: #7ED321;
    }

    .classroom .right-panel .chart-table-row-notcompleted {
      color: #FD5C63;
      border-color: #FD5C63;
    }

    .classroom .right-panel .chart-table-row-completed, .classroom .right-panel .chart-table-row-notcompleted {
      margin-right: 100px;
      border: 2px solid;
      border-radius: 10px;
      padding: 2px 5px;
    }

    .classroom .right-panel .chart-table-row:hover {
      border: 2px solid #61BBE3;
    }

    .classroom .right-panel .chart-table .isGray {
      background: #F2F2F2;
    }
