@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow: hidden; }

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

.home {
  width: 100vw;
  position: relative;
  top: 60px;
  vertical-align: top;
  display: flex; }
  .home .left-panel {
    width: 70vw;
    height: 90vh;
    border-right: 1px solid #D8D8D8; }
    .home .left-panel .date {
      width: 70vw;
      position: fixed;
      top: 60px;
      background: #D8D8D8;
      text-align: center;
      height: 30px;
      padding: 3px;
      z-index: 100; }
    .home .left-panel .chart {
      padding: 5%;
      position: relative;
      top: 30px;
      overflow-y: scroll; }
      .home .left-panel .chart-header {
        display: flex;
        justify-content: space-between;
        padding: 0 5vw; }
        .home .left-panel .chart-header-completed {
          margin-right: 100px; }
      .home .left-panel .chart-table {
        margin-top: 10px; }
        .home .left-panel .chart-table-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3%;
          height: 60px;
          border: 2px solid transparent; }
          .home .left-panel .chart-table-row-completed {
            color: #7ED321;
            border-color: #7ED321; }
          .home .left-panel .chart-table-row-notcompleted {
            color: #FD5C63;
            border-color: #FD5C63; }
          .home .left-panel .chart-table-row-completed, .home .left-panel .chart-table-row-notcompleted {
            margin-right: 100px;
            border: 2px solid;
            border-radius: 10px;
            padding: 2px 5px; }
        .home .left-panel .chart-table-row:hover {
          border: 2px solid #61BBE3; }
        .home .left-panel .chart-table .isGray {
          background: #F2F2F2; }
  .home .right-panel {
    width: 30vw;
    height: 90vh;
    position: relative;
    top: 30px;
    padding: 0 3vw; }
    .home .right-panel .points h4 {
      text-align: center;
      color: #9B9B9B;
      padding: 10px 0; }
    .home .right-panel .points-buttons {
      display: flex;
      justify-content: space-between; }
      .home .right-panel .points-buttons-button {
        outline: none;
        padding: 0;
        margin: 0;
        border: none;
        background: #61BBE3;
        width: 80px;
        height: 50px;
        border-radius: 10px;
        color: white;
        font-size: 2em; }
      .home .right-panel .points-buttons-input {
        text-align: center;
        width: 50px; }
      .home .right-panel .points-buttons-button:hover {
        background-color: #35677D; }
      .home .right-panel .points-buttons-button:active {
        background-color: #35677D;
        box-shadow: 0 2px #666;
        transform: translateY(1px); }
    .home .right-panel .points .add-button {
      outline: none;
      padding: 0;
      margin: 0;
      border: none;
      color: white;
      width: 100%;
      height: 50px;
      background: #61BBE3; }
    .home .right-panel .points .add-button:hover {
      background-color: #35677D; }
    .home .right-panel .points .add-button:active {
      background-color: #35677D;
      box-shadow: 0 2px #666;
      transform: translateY(1px); }

.selected {
  border: 5px solid #61BBE3;
  background-color: #61BBE3; }

.navigation {
  position: fixed;
  height: 60px;
  width: 100vw;
  border-bottom: 5px solid #61BBE3;
  color: #9B9B9B;
  z-index: 100;
  background: white; }
  .navigation .logo {
    padding: 5px 0;
    float: left;
    margin-left: 35px;
    font-size: 2em; }
  .navigation .nav-buttons {
    padding: 15px 0;
    float: right;
    margin-right: 35px; }
  .navigation .nav-link {
    margin-left: 20px;
    color: #9B9B9B; }
  .navigation .nav-link:hover {
    color: #61BBE3; }
  .navigation .page-active {
    color: #61BBE3; }

.login {
  position: relative;
  top: 60px;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-box {
    width: 50vw;
    height: 40vh;
    border: 3px solid #9B9B9B;
    text-align: center;
    padding: 40px 10px; }
    .login-box .user-login {
      margin-bottom: 70px; }
    .login-box .input {
      display: block;
      width: 20vw;
      margin: auto;
      text-align: left;
      padding: 5px;
      margin-bottom: 20px;
      border-bottom: 2px solid #9B9B9B; }
    .login-box .login-button {
      color: white;
      background: #61BBE3;
      width: 20vw;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 35px; }
    .login-box input:focus,
    .login-box select:focus,
    .login-box textarea:focus,
    .login-box button:focus, .login-box input {
      outline: none; }
    .login-box input {
      border: none; }

/*# sourceMappingURL=globals.css.map */
