.leaderboard {
  width: 100vw;
  top: 60px;
  margin: auto;
}

.leaderboard .chart-table-row-rank {
  width: 200px;
}

.leaderboard .chart-table-row-name {
  width: 325px;
}

.leaderboard .chart-table-row-hw {
  width: 275px;
}

.leaderboard .chart-table-row-volunteering {
  width: 250px;
}

.leaderboard .chart-table-row-total {
  width: 100px;
}

.leaderboard .chart-header-rank{
  width: 75px;
}

.leaderboard .chart-header-name {
  width: 75px;
}

.leaderboard .chart-header-homework {
  width: 100px;
}

.leaderboard .chart-header-volunteering {
  width: 100px;
}

.leaderboard .chart-header-total {
  width: 100px;
}

.leaderboard .date {
  width: 100vw;
  top: 55px;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 100px;
  margin-top: -30px;
  transform: translateX(-50%);
}

.leaderboard .chart {
  width: 100vw;
  padding: 6%;
  position: relative;
  top: 50px;
  overflow-y: scroll;
  left: 50%;
  transform: translateX(-50%);
  height: 60vw;
}

.leaderboard .chart-table {
  margin: 20px;
}

.leaderboard .chart-header {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-top: 20px;
  padding: 0 5vw;
}

.leaderboard .chart-table-row {
  display: flex;
  /* Adjust the space between content */
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  height: 60px;
  border: 2px solid transparent;
}

.leaderboard .chart-table .isGray {
  background: #F2F2F2;
}

.leaderboard .chart-table .topFive {
  border: 4px solid #4EABDE;
}
