@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary-blue: #61BBE3;
$hover-blue: #35677D;
$red: #FD5C63;
$green: #7ED321;
$gray: #9B9B9B;
$light-gray: #D8D8D8;
$table-gray: #F2F2F2;

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	overflow: hidden;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
