.home {
  position: relative;
  top: 60px;

  .left-panel {
    width: 70vw;
    height: 100vh;
    border-right: 1px solid $light-gray;

    .date {
      width: 70vw;
      position: fixed;
      top: 60px;
      background: $light-gray;
      text-align: center;
      height: 30px;
      padding: 3px;
      z-index: 100;
    }

    .chart {
      padding: 5%;
      position: relative;
      top: 30px;

      &-header{
        display: flex;
        justify-content: space-between;
        padding: 0 5vw;

        &-completed {
          margin-right: 100px;
       }
      }

      &-table{
        margin-top: 10px;

        &-row{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 5vw;
          height: 5vh;
          border: 2px solid transparent;

          &-completed {
            color: $green;
            border-color: $green;
          }

          &-notcompleted {
            color: $red;
            border-color: $red;
          }

          &-completed, &-notcompleted {
            margin-right: 100px;
            border: 2px solid;
            border-radius: 10px;
            padding: 2px 5px;
          }
        }

        &-row:hover{
          border: 2px solid $primary-blue;
        }

        .isGray {
          background: $table-gray;
        }

      }
    }
  }
}
